$gray-teal: (
  50 : #e1e3e3,
  100 : #b3b9ba,
  200 : #818a8c,
  300 : #4f5b5d,
  400 : #29383b,
  500 : #031518,
  600 : #031215,
  700 : #020f11,
  800 : #020c0e,
  900 : #010608,
  A100 : #4eb7ff,
  A200 : #1ba3ff,
  A400 : #0089e7,
  A700 : #007ace,
  contrast: (
    50 : #000000,
    100 : #000000,
    200 : #000000,
    300 : #ffffff,
    400 : #ffffff,
    500 : #ffffff,
    600 : #ffffff,
    700 : #ffffff,
    800 : #ffffff,
    900 : #ffffff,
    A100 : #000000,
    A200 : #000000,
    A400 : #ffffff,
    A700 : #ffffff
    )
);

$fadaces: (
    50 : #fbebe5,
    100 : #f5cdbd,
    200 : #efab92,
    300 : #e98966,
    400 : #e47045,
    500 : #df5724,
    600 : #db4f20,
    700 : #d7461b,
    800 : #d23c16,
    900 : #ca2c0d,
    A100 : #fff8f6,
    A200 : #ffcbc3,
    A400 : #ff9e90,
    A700 : #ff8877,
    contrast: (
        50 : #000000,
        100 : #000000,
        200 : #000000,
        300 : #000000,
        400 : #000000,
        500 : #ffffff,
        600 : #ffffff,
        700 : #ffffff,
        800 : #ffffff,
        900 : #ffffff,
        A100 : #000000,
        A200 : #000000,
        A400 : #000000,
        A700 : #000000,
    )
);


$warnings: (
    50 : #f9e4e4,
    100 : #efbbbb,
    200 : #e58e8e,
    300 : #da6060,
    400 : #d23e3e,
    500 : #ca1c1c,
    600 : #c51919,
    700 : #bd1414,
    800 : #b71111,
    900 : #ab0909,
    A100 : #ffd7d7,
    A200 : #ffa4a4,
    A400 : #ff7171,
    A700 : #ff5858,
    contrast: (
        50 : #000000,
        100 : #000000,
        200 : #000000,
        300 : #000000,
        400 : #ffffff,
        500 : #ffffff,
        600 : #ffffff,
        700 : #ffffff,
        800 : #ffffff,
        900 : #ffffff,
        A100 : #000000,
        A200 : #000000,
        A400 : #000000,
        A700 : #000000,
    )
);

