@import "./../../../static/scss/variables.scss";

.cover-image {
  display: flex;
  height: 500px;
  height: 100vh;
  background-position: 50% 50%;
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
}
.separator{
  background-color: transparent;
  width: 100%;
  position: absolute;
  bottom: 4em;
  p{
    color: $dark-grey;
  }
}
